@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-size: 18px;
}

.hsh {
	background-color: #161722;
	background-color: #25273c;
	background-color: #cacde8;
	background-color: #e4e5f1;
	background-color: #777a92;
	background-color: #4d5066;
	background-color: #393a4c;
}